*{
	margin: 0;
	padding: 0;
}
body,html{
	min-width: 400px;
	min-height: 400px;
	width: 100%;
	height: 100%;
	background: url(../img/1.png) no-repeat;
	background-size: 100% 100%;
}
.loginbox{
	position: fixed;
	width: 400px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
	background: rgba(255, 255, 255, 0.5);
}
h2{
	font-size: 30px;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.5);
}
.login{
	padding: 5px 10px 20px;
	text-align: center;
}
.box{
	font-size: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: left;
}
.box input{
	outline: 0;
	font-size: 20px;
	width:100%;
	height: 30px;
	display: block;
	padding-left: 5px;
}
.loginbtn{
	padding: 30px;
	width: 100px;
	outline: 0;
	font-size:30px;
}